<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="auto-mappings" type="Gymnastika.Data.Configuration.AutomappingConfigurationSection, Gymnastika.Data" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d %p %m%n" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="NHibernate" additivity="false">
      <level value="WARN" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <appSettings>
    <add key="DataProvider" value="SqlCe" />
    <add key="DataFolder" value="Data" />
    <add key="DatabaseName" value="Gymnastika.sdf" />
    <add key="ServiceBaseUri" value="http://localhost/gym/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <modules>
    <module assemblyFile="Gymnastika.Modules.Sports.dll" moduleType="Gymnastika.Modules.Sports.SportsManagementModule, Gymnastika.Modules.Sports" moduleName="Sports" startupLoaded="false"/>
    <module assemblyFile="Gymnastika.Modules.Meals.dll" moduleType="Gymnastika.Modules.Meals.MealsManagementModule, Gymnastika.Modules.Meals" moduleName="Meals" startupLoaded="false" />
  </modules>
  <auto-mappings>
    <assembly name="Gymnastika.Modules.Sports.dll" />
    <assembly name="Gymnastika.Modules.Meals.dll" />
    <assembly name="Gymnastika.Services.dll" />
    <assembly name="Gymnastika.Data.dll" />
    <assembly name="Gymnastika.Widgets.dll" />
  </auto-mappings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>