<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <add key="DataServiceConnectionString" value="Data Source=Data\Gymnastika.sdf;Persist Security Info=False;" />
  </appSettings>
  <modules>
    <module assemblyFile="Gymnastika.Module.Sports.dll" moduleType="Gymnastika.Modules.Sports.SportsManagementModule, Gymnastika.Module.Sports" moduleName="Sports" startupLoaded="false" />
    <module assemblyFile="Gymnastika.Module.Meals.dll" moduleType="Gymnastika.Modules.Meals.MealsManagementModule, Gymnastika.Module.Meals" moduleName="Meals" startupLoaded="false" />
  </modules>
  <unity>
    <typeAliases>
      <typeAlias alias="DataContext" type="Gymnastika.Repositories.LinqToSqlProvider.GymnastikaDataContext, Gymnastika.Repositories.LinqToSqlProvider" />
      <typeAlias alias="IUserRepository" type="Gymnastika.Common.Repositories.IUserRepository, Gymnastika.Common" />
    </typeAliases>
    <containers>
      <container>
        <register type="DataContext">
          <constructor>
            <param name="connection" type="System.String" value="Data Source=Data\Gymnastika.sdf;Persist Security Info=False;" /> 
          </constructor>
        </register>
        <register type="IUserRepository" mapTo="Gymnastika.Repositories.LinqToSqlProvider.UserRepository, Gymnastika.Repositories.LinqToSqlProvider" />
      </container>
    </containers>
  </unity>
</configuration>