<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gymnastika.PhoneHelper.Properties.Settings.FoodLibraryConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=FoodLibrary;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>